* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 2rem;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#puntuacion {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.carta-container {
  display: flex;
  justify-content: center;
}

.panel-botones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.boton {
  display: flex;
  padding: 1rem;
  background-color: tomato;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.boton:disabled {
  background-color: #909090;
}

#mensaje-juego {
  text-align: center;
  font-size: 2rem;
}

#btnNuevaPartida {
  margin: 0 auto;
  margin-top: 2rem;
}

.oculto {
  display: none;
}
